@media (max-width: 768px) {

	.root__menu_top {
		position: absolute;
		display: flex;
		flex-direction: column;
		height: 600px;
		width: 200px;

	}

	.root__slider {
		align-items: flex-start;

		.slider__item {
			padding-left: 30px;

			.slider__text {
				font-size: 14pt;
			}

			.slider__name {
				font-size: 9pt;
			}
		}
	}

	.root__team {
		.content {

			.team__title {
				text-align: center;
				font-size: 30pt;
			}

			.team__description {
				padding: 20px 30px 20px 30px;
			}

			.team__items-block {
				display: flex;
				flex-direction: column;
				margin: 50px;
				text-align: center;

				.team__item {
					margin: 0 0 30px 0;
				}
			}
		}

	}

	.root__counter {
		height: 400px;

		.content {
			text-align: center;
			height: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: column;
		}
	}


	.root__contact {
		background: $menus-color;
		width: 100%;
		height: 700px;
		display: flex;
		flex-direction: column;

		.contact__title {
			color: $white-text-color;
			margin-top: 100px;
			text-align: center;
		}

		.contact__description {
			color: $white-text-color;
			padding: 50px;
			padding-left: 25%;
			padding-right: 25%;
			text-align: center;
		}

		form {

			margin: 0 auto;

			.form__input {
				font-family: 'PT Sans', sans-serif;
				position: relative;
				margin-bottom: 30px;
				background: transparent;
				font-size: 16px;
				display: block;
				width: 250px;
				border: none;
				border-bottom: 1px solid #ccc;

				:focus {
					outline: none;
				}
			}

			.form__area {
				font-family: 'PT Sans', sans-serif;
				display: block;
				resize: none;
				width: 550px;
				background: transparent;
				border: none;
				border-bottom: 1px solid #ccc;
				overflow-y: hidden;
				font-size: 11pt;
			}


			select {
				font-family: 'PT Sans', sans-serif;
				display: block;
				position: relative;
				width: 250px;
				background: transparent;
				border: none;
				border-bottom: 1px solid #ccc;
				overflow-y: hidden;
				font-size: 11pt;
			}

			#form__category {
				bottom: 50px;
				left: 300px;
			}

			#form__city {
				bottom: 50px;
				left: 300px;
			}

			#email {
				box-sizing: border-box;
				width: 550px;
			}



			.submit_button {
				position: relative;
				background: $first-color;
				color: $white-text-color;
				font-size: 13pt;
				width: 150px;
				height: 50px;
				border-radius: 0%;
				border: 1px solid rgb(109, 27, 27);
				left: 400px;
				margin-top: 30px;
			}
		}
	}

	.root__contact {
		background: $menus-color;
		width: 100%;
		height: 700px;
		display: flex;
		flex-direction: column;

		.contact__title {
			color: $white-text-color;
			margin-top: 50px;
			text-align: center;
		}

		.contact__description {
			color: $white-text-color;
			padding: 20px;
			padding-left: 25%;
			padding-right: 25%;
			text-align: center;
		}

		form {

			display: flex;
			flex-direction: column;
			margin: 0 auto;

			.form__input {
				font-family: 'PT Sans', sans-serif;
				background: transparent;
				font-size: 16px;
				display: block;
				width: 250px;
				border: none;
				border-bottom: 1px solid #ccc;
				margin: 12px;

				:focus {
					outline: none;
				}
			}

			.form__area {
				font-family: 'PT Sans', sans-serif;
				display: block;
				resize: none;
				width: 250px;
				background: transparent;
				border: none;
				border-bottom: 1px solid #ccc;
				overflow-y: hidden;
				font-size: 11pt;
				margin: 12px;

			}


			select {
				font-family: 'PT Sans', sans-serif;
				display: block;
				position: relative;
				width: 250px;
				background: transparent;
				border: none;
				border-bottom: 1px solid #ccc;
				overflow-y: hidden;
				font-size: 11pt;
			}

			#form__category {
				bottom: 0px;
				left: 0px;
				margin: 12px;

			}

			#form__city {
				bottom: 0px;
				left: 0px;
				margin: 12px;

			}

			#email {
				box-sizing: border-box;
				width: 250px;
				margin: 12px;

			}



			.submit_button {
				position: relative;
				background: $first-color;
				color: $white-text-color;
				font-size: 13pt;
				width: 150px;
				height: 50px;
				border-radius: 0%;
				border: 1px solid rgb(109, 27, 27);
				left: 100px;
				margin-top: 30px;
			}
		}
	}


	.root__about {

		.content {
			width: 100%;
			height: 900px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: column;

		}

		.about__img {
			background-image: url("https://via.placeholder.com/500x500");
			background-position: center;
			background-size: cover;
			width: 70vw;
			height: 70vw;
		}

		.about__block {
			margin: 10px;
			border: 2px solid rgb(211, 190, 190);
			width: 40%;
			height: 35%;
			background-color: rgb(245, 236, 236);
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			.about__title {
				text-align: center;
				margin: 20px;
			}

			.about__description {
				text-align: center;
				margin: 15px;
			}

			.about__items-block {
				display: none;
				width: 100%;
				justify-content: space-around;

				.about__item {
					flex-direction: column;
					display: flex;
					// justify-content: center;
					align-items: center;
				}

				.item__img {
					img {
						border-radius: 50%;
					}
				}

				.item__vertical {
					width: 1px;
					height: 20px;
					background-color: black;

				}

				.item__desc {
					padding: 10px;
					border: 1px solid black;
					text-align: center;
				}
			}
		}
	}


	footer {
		.line__menu {
			width: 100%;
			height: 600px;
			background: $menus-color;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;

			.menu__item {

				:first-child {
					margin-bottom: 20px;
				}

				:last-child {
					margin-bottom: 20px;
				}

				li {
					list-style: none;
					margin-bottom: 10px;
					text-align: center;

					a {
						color: $white-text-color;
						text-decoration: none;
					}
				}
			}
		}

		.line__copyright {
			width: 100%;
			height: 150px;
			display: flex;
			flex-direction: column;
			background: black;
			align-items: center;
			justify-content: center;

			.copyright__text {
				text-align: center;
				margin: 10px;
				color: $white-text-color;
			}

			.copyright__social {
				position: relative;
				margin: 0px;
				margin-top: 20px;
			}
		}
	}
}